#root {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  padding: 3px 6px;
  border: 1xp solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.counts {
  margin: 30px;
}

.finished {
  color: green;
  font-weight: bold;
  font-size: large;
}

.list {
  margin: 30px auto;

}

.list ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list li {
  text-align: left;
  margin: 0 10px 10px 0;
  padding: 3px 6px;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #efefef;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.list li svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 12px;
}

.table th, .table td {
  border: 1px solid #ccc;
}

.table tbody tr:hover {
  background-color: #efefef;
}

.table td {
  height: 25px;
}